# Environment
.env
.env.local
.env.*.local
*.pem

# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.turbo/

# Local DB and Uploads
.db_data/
uploads/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
